@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ysabeau+SC:wght@800&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Ysabeau SC', sans-serif; */

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(250, 250, 250);
    align-items: center;
    justify-content: center;
}

.all-container
{
    height: auto; 
    width: min(100%, 2000px);
    margin-bottom: 30px;
}



.title
{
    font-family: 'Ysabeau SC', sans-serif;
    padding: 10px 20px;
    color: rgb(20, 20, 20);
    font-weight: 800;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.tagline
{
    font-size: 16px;
    color: rgb(120,120,120);
}


.container
{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 10px;
    overflow: auto;
    /* border: 2px solid red; */
}


.form-container
{
    padding: 20px;
    color: rgb(250,250,250);
    /* overflow: hidden; */
}



.line
{
    font-size: 16px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}





.table-container
{
    /* border: 2px solid yellow; */
    overflow: auto;
}

.boxes
{
    display: grid;
    grid-template-columns: repeat(10,minmax(50px,1fr));
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
}

.box
{
    display: flex;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(0, 0, 0);
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    overflow: auto;
}



.ansline
{
    font-weight: bold;
}

.error
{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
}


.footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: unset;
    bottom: 0;
    padding: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
    width: min(100%, 2000px);
    box-shadow: 0 0 10px 10px rgba(200, 200, 200, 0.3);
}

a
{
    color: white;
    text-decoration: none;
    padding: 0 5px;
}

.icon
{
    font-size: 16px;
}

.links
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1000px) 
{

    .tagline
    {
        font-size: 12px;
    }


    .form-container
    {
        width: 98%;
        padding: 3%;
        color: rgb(250,250,250);
        /* border: 2px solid red; */
    }

    .table-container
    {
        padding: 0;
        overflow: unset;
    }

    .footer
    {
        font-size: 12px;
    }

    .icon
    {
        font-size: 12px;
    }

}
